@import '../../styles/const.scss';

.passwordContainer {
  @include contaiter;
  display: flex;
  flex-direction: column;
  &__generateButton {
    border: none;
    background-color: $color2;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      cursor: pointer;
      background-color: darken($color2, 5%);
    }
  }
  &__passwords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 15px;
    li :hover {
      background-color: darken($color1, 10%);
      cursor: pointer;
    }
  }
}
