@import '../../styles/const.scss';

.passwordContainer {
  @include contaiter;
  display: flex;
  flex-direction: column;
  &__generateButton {
    border: none;
    background-color: $color2;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      cursor: pointer;
      background-color: darken($color2, 5%);
    }
  }
  &__passwords {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
  }
  &__password {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    &:hover {
      background-color: darken($color1, 10%);
      cursor: pointer;
    }
  }
  &__alert {
    padding: 15px;
    text-align: center;
  }
  &__copied {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color2;
    padding: 15px;
    border-radius: 15px;
    span {
      font-weight: 700;
    }
  }
}
