@import '../../styles/const.scss';

.settingsContainer {
  @include contaiter;
  display: flex;
  flex-direction: column;
  gap: 0px;
  label {
    height: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      cursor: pointer;
      background-color: darken($color1, 10%);
    }
  }
  input[type='number'] {
    font-size: 20px;
  }
  input[type='checkbox'] {
    transform: scale(1.5);
    accent-color: $color2;
    transition: all ease-in-out 1s;
  }
}
